<div id="sidebar">
  <ul>
      <li>
      <h2>About</h2>
      <!-- <span class="twitter"><a href="http://twitter.com/tualatrix">Follow IMTX</a></span>-->
      <span class="rss"><a href="http://feeds.feedburner.com/tualatrix" target="_blank">订阅IMTX</a></span>
      </li>
      <li>
      <h2>Recent Posts</h2>
        <ul>
          <%= recent_posts %>
        </ul>
      </li>

      <li>
      <h2>Recent Comments</h2>
      {% get_recent_comments %}
      </li>

      <li>
      <h2>Recent Pingbacks</h2>
      {% get_recent_pingbacks %}
      </li>

      <li>
      <h2>Links</h2>
        <ul>
          <%= get_links %>
        </ul>
      </li>

      <li>
      <h2>Categories</h2>
        <ul>
          <%= get_categories %>
        </ul>
      </li>
      
      <li>
      <h2>Archives</h2>
        <ul>
          <%= get_archives %>
        </ul>
      </li>

      <li>
      <h2>Meta</h2>
          <ul>
            <!--
              {% if user.is_staff %}
              <li><a href="/admin/">Admin</a></li>
              {% else %}
              <li><a href="/admin/">Login</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><a href="/admin/logout/">Logout</a></li>
              {% endif %}
              -->
          </ul>
      </li>
  </ul>
</div>
