<% content_for :title do %>I'm TualatriX!<% end %>

<% content_for :content do %>
  <% @posts.each do |post| %>
    <div class="post" id="post-<%= post.id %>">
      <%= render :partial => 'title', :locals => { :post => post } %>
      <div class="entry">
        <%= simple_format post.content %>
      </div>
    </div>
  <% end %>
<% end %>
