<% content_for :title do %><%= @post.title %><% end %>

<% content_for :content do %>
    <div class="post" id="post-<%= @post.id %>">
      <%= render :partial => 'title', :locals => { :post => @post } %>
      <div class="entry">
        <%= @post.content %>
      </div>
    </div>
<% end %>
