<% content_for :content do %>
  <h2 class="pagetitle">Category Archives: <%= @category.title %></h2>

  <% @posts.each do |post| %>
    <div class="post" id="post-<%= post.id %>">
      <%= render :partial => 'posts/title', :locals => { :post => post } %>
    </div>
  <% end %>
<% end %>
